#header {
  // padding: 18px;
  padding: 18px;
  position: sticky;
  top: 0;
  background: #1F2731;
  z-index: 99;
  border-bottom: 1px solid grey;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #fff;
      font-family: Silk Serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 82px;

      a {
        color: #fff;
        font-family: Spartan, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        cursor: pointer ;
      }
    }
  }
}

.search input {
  outline: none;
  width: 187px;
  height: 37px;
  border-radius: 8px;
  border: 0.8px solid rgba(86, 9, 187, 0.2);
  opacity: 0.8;
  background: #ef272c;
  color: #fff;
  font-family: Spartan, sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding: 0 30px;
}
.search {
  width: 187px;
  height: 37px;
  position: relative;
}
.icon {
  position: absolute;
  left: 5px;
  top: 6px;
  z-index: 2;
}
::-webkit-input-placeholder {
  color: #fff;
  font-family: Spartan, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
