#desserts {
  padding: 30px 0;
  .desserts {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    &--block {
      background: #1B2026;
      width: 350px;
      height: 450px;
      &__top {
        margin-top: 8px;
        padding: 8px 0;
        text-align: center;
        h4 {
          cursor: pointer;
          padding: 10px 0;
          color: #FFF;
          font-family: Silk Serif , sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        &--lina {
          margin-left: 4.7rem;
          width: 200px;
          height: 1px;
          background: #E5E5E5;
        }
      }
    }
  }
}