#happy{
  padding: 40px 0;
  .happy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--block{
      &__car{
        display: flex;
        align-items: center;
        justify-content: start;
        &--top{
          &__lina{
            margin-top: 10px;
            width: 51.26px;
            height: 2px;
            background: red;
          }
        }
        h4{
          color: #FFF;
          font-family: Shalimar,sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-left: 3.5rem;
        }
      }
      h2{
        margin-top: 20px;
        color: #FFF;
        font-family: Silk Serif,sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
      }
      h6{
        margin-top: 20px;
        color: #EF272C;
        font-family: Spartan , sans-serif;
        font-size: 24px;
        font-weight: 500;
      }
      h5{
        color: #FFF;
        font-family: Spartan,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
      }
      button{
        margin-top: 8px;
        display: flex;
        align-items: center;
        height: 42px;
        padding: 14px 27px;
        justify-content: center;
        gap: 7px;
        border: 1.6px solid #EF272C;
        flex-shrink: 0;
        color: #FFF;
        font-family: Spartan,sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
      &__manu{
        margin: 25px 0 0 80px;
        width: 130px;
        height: 1.4px;
        background: red;
      }
      &__git{
        margin-top: 8px;
        width: 130px;
        height: 1.4px;
        background: red;
      }
    }
    &--red{
      width: 651px;
      height: 590px;
      flex-shrink: 0;
      border-radius: 2px;
      opacity: 0.7;
      background: #EF272C;
      box-shadow: 5px 8px 26px 0 rgba(86, 9, 187, 0.10);
      h4{
        padding: 40px 35px;
        color: #1F2731;
        font-family: Gilroy,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      &__view{
        margin: 0 0 30px 0;
        padding: 0 35px;
        display: flex;
        align-items: center;
        justify-content: start;
        a{
          margin-left: 20px;
          color: #1F2731;
          font-family: Montserrat,sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      &__icons{
        gap: 40px;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        justify-content: start;
      }
    }
  }
}